doctype
html
    head
        title= "Stream to Wav"
        script(src="http://cdn.binaryjs.com/0/binary.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    body
        script(src="rec.js")
        button(id='startRecording') Start Recording
        button(id='stopRecording') Stop Recording
