html, body {
    height: 100%;
}

h4 {
    margin-top: 0;
}
#icon-size-col {
    display: none;
}

#multiplier {
    font-size: 1.8em;
}

#simulator-display {
    background-color: black;
    height: 100%;
    overflow: hidden;
    padding: 0;
}

#simulator-display > canvas {
    height: 100%;
    width: 100%;
}

#simulator-console {
    color: blue;
    font-size: 28px;
    left: 0;
    padding-top: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

#filters {
    background-color: white;
    bottom: 0;
    left: 0;
    padding-top: 20px;
}

.red {
    color: red;
}
.green {
    color: #40d800;
}

.blue {
    color: #0000ff;
}

.orange {
    color: #ff6a00;
}

.white {
    color: white;
}
.col-pull-down {
    float: none;
    display: table-cell;
    vertical-align: bottom;
}